body {
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    margin: 0;
}

button {

    padding: 50px;
}

img {
    max-width: 20vw;
    height: auto;
    display: block;
    margin-top: 10px;
  }