body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

#colorButton{
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 50vb;
    font-size: 16px;
}